<li> <%= question.body %></li>
  
  <%= link_to 'Edit', edit_question_path(question) %>
  <%= link_to 'Delete',
                  tests_path,
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %> 
  
