<div>
  <p> Year: <%= current_year %> </p>
  <p> Name: Artem Marenko </p>
  <p> Учебный проект в онлайн-школе Thinknetica, thinknetica.com</p>
  <p> <%= github_url('exval', 'test-guru') %> </p>
</div>